.floating-card {
    min-width: 300px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px #00000002;
    border-radius: 6px;
}

.form-loader {
    padding:80px 0px 127px 0px;
    margin:auto;
}